.footer {
    width: 100%;
    background: #257187;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

.footer-container {
    width: 90%;
}

.footer-u {
    display: flex;
    justify-content: center;

}

.footer-line {
    width: 70%;
    height: 1px;
    background: #fff;
    margin-left: 350px;
    margin-top: -40px;

}

.customer-link1,
.customer-link2,
.customer-link3,
.quicklink-link1,
.quicklink-link2,
.quicklink-link3,
.quicklink-link4 {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.footer-lk {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-link1 {
    text-decoration: none;
    color: #fff;
    position: relative;
    right: 950px;
}

.base-link2 {
    text-decoration: none;
    color: #fff;
    position: relative;
    right: 300px;

}

.socialmedia {
    display: flex;
    justify-content: baseline;
    gap: 10px;
    align-items: center;

}

@media (max-width: 834px) {
    .footer-container {
        width: 100%;
        margin: 0;
    }

    .footer-u {
        display: grid;
        position: relative;
        right: 0;

    }

    .footer-text {
        margin: 10px 40px;
    }

    .footer-line {
        position: relative;
        bottom: 30px;
    }

    .footer-all {
        margin-top: -150px;
    }

    .customer {
        margin-top: -190px;
        margin-left: 400px;
    }
}