.home-content{
  display: flex;
  justify-content: center;
  padding:120px 0px 0px;
}

.home-text{
  
  margin-right: 24px;
}

.home-img{
  margin-left: 53px;
}
.hom-img{
  border-radius: 29px;
}
.head-text{
  font-size: 57.83px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.para-text{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #545454;
}
.gs-btn{
  width: 151px;
  height: 43.72px;
  border: solid 1px #3f4198;
  border-radius: 41px;
  color: #3f4198;
  cursor: pointer;
}
.lm{
  text-decoration: none;
  position: relative;
  left: 30px;
  color: #545454;
}
.fa-solid {
  position: relative;
  left: 5px;
top: 2px;
}

@media (max-width: 768px) {
  .home-content{
    display: grid;
    padding: 0 0 0;
  
  }
  .head-text{
    font-size: 40px;
  }
 
  .hom-img{
    width: 330px;

  }
  .home-img{
    margin-left:20px;
    margin-top: 20px;
  }
  .home-text{
    margin-left:20px ;
  }
}