.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  width: 90%;
  margin-left: 5%;
}

.line1 {
  width: 70%;
  height: 1px;
  background: #BBBBBB;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
  margin-left: 15%;
}

.line2 {
  width: 70%;
  height: 1px;
  background: #BBBBBB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 15%;
}

@media (max-width: 834px){
  .logo-container{
    gap: 0;
  }
}



@media (max-width:480px) {
  .logo-container {
    display: grid;
    gap: 0px;
    width: 100%;
  }

  .line1 {
    margin-left: 60px;
  }

  .line2 {
    margin-left: 60px;
  }
}